@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    --accent: #f86b52;
    --fg: #111827;
    --bg: white;
    --muted-fg: #111827;
    --muted: #f3f4f6;
    --card: white;
    --border: #e5e7eb;

    --primary-6: 248, 107, 82;
    --primary-5: 249, 141, 117;
    --primary-7: 197, 73, 54;
    --primary-4: 251, 178, 158;
    --primary-3: 253, 214, 202;
    --primary-2: 254, 242, 238;
    --primary-1: 254, 242, 238;
    --link-6: 248, 107, 82;
    --link-5: 249, 141, 117;
    --link-7: 197, 73, 54;
    --link-4: 251, 178, 158;
    --link-3: 253, 214, 202;
    --link-2: 254, 242, 238;
    --link-1: 254, 242, 238;
    --color-primary-light-1: rgb(254, 242, 238);
    --color-primary-light-3: rgb(248, 107, 82);
    --color-link-light-4: 247, 74, 26;
  }

  body {
    @apply bg-muted text-foreground;
  }

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* 修复菜单栏四边距等宽 */
.arco-menu-inner {
  padding: 8px !important;
}

/* 修复菜单栏 Item 布局（图标被 tailwind 重置为 display block，导致无法水平对齐布局） */
/* .arco-menu-item {
  display: flex !important;
  align-items: center !important;
}
.arco-menu-inline-header > :first-child {
  display: flex !important;
  align-items: center !important;
} */

/* 覆盖菜单栏选中时的背景颜色 */
.arco-menu-selected {
  background-color: rgb(var(--primary-2)) !important;
}

/* 覆盖菜单栏折叠时的宽度 */
.arco-menu-collapse {
  width: 60px !important;
}

/* 覆盖位于 table-layout-header 下的 arco-input 和 arco-select 等组件的样式 */
.table-layout-header .arco-input,
.table-layout-header .arco-select .arco-select-view {
  @apply bg-white border-gray-200 rounded-[4px];
}

/* 覆盖位于 table-layout-header 下的 arco-input 和 arco-select 等组件 focus 时的样式 */
.table-layout-header .arco-input:focus,
.table-layout-header .arco-select .arco-select-view:focus {
  @apply border-[var(--accent)];
}

/* 修复 FormItemLabel 的布局 (tailwind preflight) */
.arco-form-item-symbol {
  display: inline-block !important;
}
