@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    --accent: #f86b52;
    --fg: #111827;
    --bg: white;
    --muted-fg: #9ca3af;
    --muted: #f3f4f6;
    --card: white;
    --border: #e5e7eb;

    --primary-6: 248, 107, 82;
    --primary-5: 249, 141, 117;
    --primary-7: 197, 73, 54;
    --primary-4: 251, 178, 158;
    --primary-3: 253, 214, 202;
    --primary-2: 254, 242, 238;
    --primary-1: 254, 242, 238;
    --link-6: 248, 107, 82;
    --link-5: 249, 141, 117;
    --link-7: 197, 73, 54;
    --link-4: 251, 178, 158;
    --link-3: 253, 214, 202;
    --link-2: 254, 242, 238;
    --link-1: 254, 242, 238;
    --color-primary-light-1: rgb(254, 242, 238);
    --color-primary-light-3: rgb(248, 107, 82);
    --color-link-light-4: 247, 74, 26;
  }

  body {
    @apply bg-muted text-foreground;
  }

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

/* 修复菜单栏四边距等宽 */
.arco-menu-inner {
  padding: 8px !important;
}

/* 修复菜单栏 Item 布局（图标被 tailwind 重置为 display block，导致无法水平对齐布局） */
/* .arco-menu-item {
  display: flex !important;
  align-items: center !important;
}
.arco-menu-inline-header > :first-child {
  display: flex !important;
  align-items: center !important;
} */

/* 覆盖菜单栏选中时的背景颜色 */
.arco-menu-selected {
  background-color: rgb(var(--primary-2)) !important;
}

/* 覆盖菜单栏折叠时的宽度 */
.arco-menu-collapse {
  width: 60px !important;
}

/* 覆盖 arco-input 和 arco-select 等组件的样式 */
.arco-input,
.arco-textarea,
.arco-input-inner-wrapper,
.arco-select .arco-select-view,
.arco-picker {
  @apply bg-white border-gray-200;
}

.arco-input:hover,
.arco-textarea:hover,
.arco-picker:hover,
.arco-input-inner-wrapper:hover,
.arco-select .arco-select-view:hover {
  @apply bg-white border-accent;
}

.arco-input:focus,
.arco-textarea:focus,
.arco-input-inner-wrapper:focus,
.arco-select .arco-select-view:focus,
.arco-picker:focus {
  @apply border-accent;
}

/* 修复 FormItemLabel 的布局 (tailwind preflight) */
.arco-form-item-symbol {
  display: inline-block !important;
}

.arco-form-item-symbol {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 0px !important;
}

.arco-form-label-item-left {
  padding-left: 16px !important;
}

/* 修复在 Table 中使用 FormItem 时的样式 */
.arco-table-cell .arco-form-item {
  position: relative;
  margin-bottom: 0;
}
.arco-table-cell .arco-form-item > div:first-child {
  width: 100%;
  flex-basis: auto;
}
.arco-table-cell .arco-form-item .arco-form-message {
  position: absolute;
  top: 100%;
  left: 0;
}

.arco-picker-suffix-icon,
.arco-input-group-suffix,
.arco-select-arrow-icon {
  color: var(--muted-fg) !important;
}

.arco-resizebox-trigger-vertical {
  align-self: stretch !important;
  height: auto !important;
}

.table-active-row .arco-table-td {
  background-color: rgb(var(--primary-2));
  color: rgb(var(--primary-6));
  font-weight: 500;
}

.clickable-row {
  cursor: pointer;
}

.actions {
  @apply flex justify-center items-center;
}

.actions .arco-btn {
  padding: 0 8px;
}
