@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    --accent: #f86b52;
    --fg: #111827;
    --bg: white;
    --muted-fg: #111827;
    --muted: #f3f4f6;
    --card: white;
    --border: #e5e7eb;

    --primary-6: 248, 107, 82;
    --primary-5: 249, 141, 117;
    --primary-7: 197, 73, 54;
    --primary-4: 251, 178, 158;
    --primary-3: 253, 214, 202;
    --primary-2: 254, 242, 238;
    --primary-1: 254, 242, 238;
    --link-6: 248, 107, 82;
    --link-5: 249, 141, 117;
    --link-7: 197, 73, 54;
    --link-4: 251, 178, 158;
    --link-3: 253, 214, 202;
    --link-2: 254, 242, 238;
    --link-1: 254, 242, 238;
    --color-primary-light-1: rgb(254, 242, 238);
    --color-primary-light-3: rgb(248, 107, 82);
    --color-link-light-4: 247, 74, 26;
  }

  body {
    @apply bg-muted text-foreground;
  }

  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

.arco-menu-inner {
  padding: 8px !important;
}

.arco-menu-selected {
  background-color: rgb(var(--primary-2)) !important;
}

.arco-menu-collapse {
  width: 60px !important;
}

.table-layout-header .arco-input,
.table-layout-header .arco-select .arco-select-view {
  @apply bg-white border-gray-200 rounded-[4px];
}

.table-layout-header .arco-input:focus,
.table-layout-header .arco-select .arco-select-view:focus {
  @apply border-[var(--accent)];
}
